/* main font family for the website */
html{
  font-family: Helvetica;
}

/*main header style */
.main_header{
  background-image: url("../images/pattern.jpeg");
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

/*Section header style */
.section h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
}

/*Section span style */
.section span{
  font-weight: bold;
  color: blue;
}

/* Color style for each section */
.mediumspringreen{
  background-color: mediumspringgreen;
}
.lightcoral{
  background-color: lightcoral;
}
.skyblue{
  background-color: skyblue;
}
